.container {
    display: inline-block;
    padding: 5px;
    cursor: pointer;
    margin: 0 5px;
}

.icon {
    vertical-align: middle;
}

.phone {
    padding: 2px;
    vertical-align: middle;
    font-size: 20px;
    text-decoration: none;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container:hover {
    background-color: #1871CA;
    border-radius: 10px;
}