<div class="col-xs-12 offset-md-3 col-md-6 mt-5 text-center">
  <h1 class="text-center">Регистрация</h1>
</div>
<div *ngFor="let errorMessage of responseErrors" class="col-xs-12 offset-md-5 col-md-2 mt-1 text-center alert-danger">
  <p class="text-start p-2">{{ errorMessage }}</p>
</div>
<div class="col-xs-12 offset-md-3 col-md-6 mt-3 text-center">
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <mat-form-field
        appearance="fill">
        <mat-label>Номер телефона</mat-label>
        <input matInput
               type="tel"
               id="phone"
               name="username"
               autocomplete="tel"
               class="form-control"
               formControlName="phone"
               [value]="signupForm.get('phone')?.value | phoneInput"
               placeholder="+78005553535">
        <mat-hint *ngIf="isCheckingNumber" class="alert-warning">Проверяем номер...</mat-hint>
        <mat-hint  class="alert-danger" *ngIf="signupForm.get('phone')?.errors?.['phoneForbidden']">Введён недопустимый номер</mat-hint>
        <mat-error *ngIf="signupForm.get('phone')?.invalid && signupForm.get('phone')?.touched">
          {{ getPhoneError() }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field
        appearance="fill"
        [matTooltip]="signupForm.get('firstname')?.invalid && signupForm.get('firstname')?.touched ? 'Введите ваше имя.' : ''">
        <mat-label>Имя</mat-label>
        <input matInput
               type="text"
               id="firstname"
               class="form-control"
               formControlName="firstname"
               placeholder="Иван">
        <mat-error
          *ngIf="signupForm.get('firstname')?.invalid && signupForm.get('firstname')?.touched">
          Введите ваше имя</mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field
        appearance="fill"
        [matTooltip]="signupForm.get('lastname')?.invalid && signupForm.get('lastname')?.touched ? 'Введите вашу фамилию.' : ''">
        <mat-label>Фамилия</mat-label>
        <input matInput
               type="text"
               id="lastname"
               class="form-control"
               formControlName="lastname"
               placeholder="Иванов">
        <mat-error
          *ngIf="signupForm.get('lastname')?.invalid && signupForm.get('lastname')?.touched">
          Введите вашу фамилию</mat-error>
      </mat-form-field>
    </div>

    <div formGroupName="passwords">
      <div class="form-group">
        <mat-form-field appearance="fill"
                        [matTooltip]="signupForm.get('passwords.password')?.invalid && signupForm.get('passwords.password')?.touched ? 'Введите корректный пароль.' : ''">
          <mat-label>Пароль</mat-label>
          <input
            matInput
            type="password"
            id="password"
            class="form-control"
            formControlName="password">
          <mat-error
            *ngIf="signupForm.get('passwords.password')?.invalid && signupForm.get('passwords.password')?.touched">
            Введите корректный пароль
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="fill"
                        [matTooltip]="signupForm.get('passwords.confirmation')?.invalid && signupForm.get('passwords.confirmation')?.touched ? 'Введите корректный пароль.' : ''">
          <mat-label>Подтверждение</mat-label>
          <input
            matInput
            type="password"
            id="confirmation"
            class="form-control"
            formControlName="confirmation">
          <mat-error
            *ngIf="signupForm.get('passwords.confirmation')?.invalid && signupForm.get('passwords.confirmation')?.touched">
            Введите корректный пароль
          </mat-error>
        </mat-form-field>
        <div>
          <span class="alert-danger"
                *ngIf="signupForm.get('passwords')?.invalid
              && signupForm.get('passwords.password')?.touched
              && signupForm.get('passwords.confirmation')?.touched
              && signupForm.get('passwords')?.hasError('passwordNotMatch')">
            Пароли должны совпадать.</span><br>
        </div>
      </div>
    </div>
    <button class="m-1 ps-4 pe-4"
            mat-raised-button
            type="submit"
            color="primary"
            [disabled]="!signupForm.valid || isProcessing">Регистрация</button>
  </form>
</div>
