.photo {
    width: 150px;
    height: 150px;
    display: block;
    border-radius: 75px;
    border: 1px solid rgba(0,0,0,0.3);
    margin: auto;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.label {
    display: block;
    margin: 20px 0 0 0;
    text-align: center;
}

.uploadImage {
    color: #3F51B5;
}

.uploadImage:hover {
    background-color: rgba(198, 193, 193, 0.7);
    border-radius: 10px;
}