<h2>Детали заказа</h2>
<p>Статус: {{ currentOrder == undefined ? "" : currentOrder.currentState | orderState }}</p>
<p>Стоимость: {{ currentOrder == undefined ? "" : currentOrder?.cost + "&#8381; " }}</p>
<p>Предпочитаемый класс автомобиля: {{  currentOrder === undefined ? "Не назначен" : getVehicleClassName(currentOrder.customerCarTypePreference) }}</p>
<p>Госномер автомобиля: {{ currentOrder?.carLicencePlate !== "" ? currentOrder?.carLicencePlate : "Не назначен" }}</p>
<p>Водитель: {{ currentOrder?.driverName !== "" ? currentOrder?.driverName : "Не назначен" }}</p>
<p>Класс: {{ currentOrder === undefined ? "Не назначен" : getVehicleClassName(currentOrder.carType) }}</p>
<button mat-raised-button color="primary" [disabled]="isCancelling" (click)="cancelOrder()">Отменить заказ</button>
