<mat-toolbar color="primary" class="top-toolbar">
  <button mat-icon-button
          onclick="this.blur()"
          role="button"
          aria-label="Example icon-button with menu icon"
          (click)="toggleSideNav()"
          [disabled]="!isLoggedIn">
    <mat-icon>menu</mat-icon>
  </button>
  <span>123 Taxi {{ pageName }}</span>
  <span class="example-spacer"></span>
  <span id="user-profile-button" [routerLink]="['/profile']"
        role="link"
        class="user-phone-label">
    <h3 class="d-none d-md-block" *ngIf="isLoggedIn">
      <mat-icon style="vertical-align: middle;">phone</mat-icon>{{userPhone}}
    </h3>
  </span>
  <button mat-icon-button
          role="link"
          matTooltip='Регистрация'
          (click)="register()"
          *ngIf="!isLoggedIn">
    <mat-icon>app_registration</mat-icon>
  </button>
  <button mat-icon-button
          role="link"
          matTooltip="{{ isLoggedIn ? 'Выйти' : 'Вход' }}"
    (click)="logout()">
    <mat-icon>{{ isLoggedIn ? 'logout' : 'login' }}</mat-icon>
  </button>
</mat-toolbar>
