.title {
    text-align: center;
}

.group {
    padding: 5px;
    margin: 15px;
}

.register-button {
    alignment: center;
}

.container {
    display: inline-block;
    padding: 5px;
    cursor: pointer;
    margin: 0 20px;
    vertical-align: middle;
}

.date * {
    width: 230px;
    max-width: 230px;
}