.tableContainer {
    max-width: 500px;
    margin: auto;
}

.title {
    display: inline-block;
    margin: 25px;
}

.backIcon {
    font-size: 45px;
    margin-bottom: 15px;
}

.actionPanel {
    margin-top: 5px;
    text-align: right;
}