.app-nav-link {
  border-radius: 0;
  font-size: 14pt;
  font-weight: bold;
  font-family: 'Noto Sans', sans-serif;
}

mat-list-item {
  user-select: none;
  font-size: 14pt;
  font-weight: bold;
  font-family: 'Noto Sans', sans-serif;
}

mat-list-item:hover {
  color: #074DE3;
  cursor: pointer;
  background-color: whitesmoke;
}

.app-link-active {
  pointer-events: none;
  color: #3F51B5;
  background-color: #DCDCDC;
}
