.example-container {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-sidenav {
  width: 250px;
  border-right: #DCDCDC solid 2px;
}

/*# sourceMappingURL=layout.component.css.map */
