<app-header (sideNavToggled)="toggleSideNav(!sidenavOpened)"></app-header>
<div class="container-fluid">
  <div class="row h-100">
    <div class="col-md-12">
      <mat-sidenav-container class="example-container">
        <mat-sidenav [(opened)]="sidenavOpened" [mode]="isWideScreen ? 'side' : 'over'">
          <app-left-menu (sideNavToggled)="leftMenuSelected()"></app-left-menu>
        </mat-sidenav>
        <mat-sidenav-content>
          <section>
            <ng-content></ng-content>
          </section>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>
  </div>
</div>
