.title {
    text-align: center;
    margin-bottom: 10px;
}

.loadingSpinner {
    display: block;
    margin: auto;
}

.tableRow:hover {
    background-color: rgba(195, 195, 195, 0.4);
    cursor: pointer;
}