<mat-card class="m-3 text-center">
  <h1 *ngIf="isLoaded">{{  isNewOrder ? "Новый заказ" : "Текущий заказ" }}</h1>
  <mat-spinner class="mx-auto"
               *ngIf="!isLoaded && !errorOccurred"
               mode='indeterminate'></mat-spinner>
  <div *ngIf="isLoaded && !errorOccurred" class="container-fluid p-0">
    <app-new-order (orderCreated)="updateCurrentOrder()" *ngIf="isNewOrder"></app-new-order>
    <app-current-order [currentOrder]="currentOrder" (cancelOrder)="updateCurrentOrder()" *ngIf="!isNewOrder"></app-current-order>
  </div>
  <h3 *ngIf="isLoaded && errorOccurred">Произошла ошибка.</h3>
</mat-card>
