body {
    background-color: #484680;
    text-align: center;
}

body > h1 {
    color: #DEBB0B;
    font-size: 60px;
}

.main-container {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 841px) {
    .main-container {
        flex-direction: column;
    }
}
@media (min-width: 840px) {
    .main-container {
        flex-direction: row;
    }
}

.logo {
    width: 150px;
    height: 150px;
}

.card {
    color: #DEBB0B;
    cursor: pointer;
    text-decoration: none;

    display: block;
    width: 200px;

    background-color: #363D99;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 25px;
    margin: 15px;
    padding: 15px;
    text-align: center;
    vertical-align: middle;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.6);
}

.card:active,
.card:hover {
    color: #DEBB0B;
    background-color: #245366;
}