<mat-card class="m-3 text-center">
  <h1>История заказов</h1>
  <mat-spinner class="mx-auto"
               *ngIf="isLoading && !errorOccurred"
               mode='indeterminate'></mat-spinner>
  <div class="mt-4">
    <table mat-table
           *ngIf="!errorOccurred && !isLoading && orderHistory != null && orderHistory.length > 0"
           [dataSource]="orderHistory"
           class="mat-elevation-z8 mx-auto container-fluid">
      <ng-container matColumnDef="createdDate">
        <th mat-header-cell *matHeaderCellDef> Дата </th>
        <td mat-cell *matCellDef="let element"> {{element.createdDate | date: 'M/d/yyyy H:mm' }} </td>
      </ng-container>

      <ng-container matColumnDef="currentState">
        <th mat-header-cell *matHeaderCellDef> Состояние </th>
        <td mat-cell *matCellDef="let element"> {{element.currentState | orderState}} </td>
      </ng-container>

      <ng-container matColumnDef="carLicencePlate">
        <th mat-header-cell *matHeaderCellDef> Номер Автомобиля </th>
        <td mat-cell *matCellDef="let element"> {{element.carLicencePlate.length > 0 ? element.carLicencePlate : "-"}} </td>
      </ng-container>

      <ng-container matColumnDef="cost">
        <th mat-header-cell *matHeaderCellDef> Сумма </th>
        <td mat-cell *matCellDef="let element"> {{element.cost}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <h3 *ngIf="!errorOccurred && !isLoading && (orderHistory == null || orderHistory?.length == 0)">Не найдено заказов.</h3>
    <h3 class="mat-badge-warn" *ngIf="errorOccurred">Произошла ошибка при получении списка заказов.</h3>
  </div>
</mat-card>
