<mat-card class="m-3 text-center">
  <h1>Ваш профиль</h1>
  <mat-spinner class="mx-auto"
    *ngIf="!profileInfo && !error"
    mode='indeterminate'></mat-spinner>
  <h3 *ngIf="error">Произошла ошибка.</h3>
  <div *ngIf="profileInfo">
    <img class="user-profile-image" src="../../../assets/customer.png" alt="User photo">

    <div>
      <mat-icon class="userinfo-line" color="primary">phone</mat-icon>
      <h2 class="userinfo-line">{{ profileInfo?.phone }}</h2>
    </div>

    <div (click)="showDialog()" class="fio-line"
         (mouseenter)="edit_icon._elementRef.nativeElement.style.visibility = 'visible'"
         (mouseleave)="edit_icon._elementRef.nativeElement.style.visibility = 'hidden'">
      <mat-icon class="userinfo-line" color="primary">person</mat-icon>
      <h2 class="userinfo-line">{{ profileInfo?.firstname + ' ' + profileInfo?.lastname }}</h2>
      <mat-icon #edit_icon class="edit-fio-icon">edit</mat-icon>
    </div>

  </div>
</mat-card>
