.user-profile-image {
  border: #074DE3 solid 1px;
  border-radius: 90px;
  background-color: #DCDCDC;
  width: 180px;
  margin: 20px;
}

.userinfo-line {
  display: inline-flex;
}

mat-icon.userinfo-line {
  margin-right: 5px;
  vertical-align: middle;
}

.fio-line:hover {
  cursor: pointer;
}

.edit-fio-icon {
  visibility: hidden;
  color: green;
  transform: scale(0.7);
  vertical-align: middle;
}
