@media (max-width: 700px) {
  #main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #yandex-router {
    width: 100%;
    height: 400px;
  }

  #info-panel {
    width: 100%;
    margin: 20px;
  }
}
@media (min-width: 701px) {
  #main-content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #yandex-router {
    width: 100%;
    height: 600px;
  }

  #info-panel {
    width: 300px;
    margin: 0;
  }
}

#calculation-progress {
  margin: 8px 0 4px 0;
  height: 6px;
}

mat-card {
  height: inherit;
}
