<div id="main-content">
  <app-yandex-map-router
    id="yandex-router"
    [fromGeo]="true"
    (pointsSelected)="onPointsSelected($event)"
    (routeCalculated)="onRouteCalculated($event)">
  </app-yandex-map-router>

  <div id="info-panel">
    <mat-card>
      <h3 *ngIf="!isCalculated">Укажите точки маршрута</h3>
      <mat-spinner *ngIf="isCalculating" class="mx-auto" mode="indeterminate"></mat-spinner>
      <div *ngIf="isCalculated">
        <div class="m-1 mb-2">
          <span class="h5" *ngIf="durationMessage">Информация о заказе</span>
        </div>
        <mat-divider></mat-divider>
        <div class="mt-2 mb-2">
          <span class="h5" *ngIf="durationMessage">Расстояние {{ distanceMessage }}</span>
        </div>
        <mat-divider></mat-divider>
        <div class="mt-2 mb-2">
          <span class="h5" *ngIf="durationMessage">Время в пути {{ durationMessage }}</span>
        </div>
        <mat-divider></mat-divider>
        <div class="mt-2 mb-2">
          <span class="h5" *ngIf="costMessage">Цена {{ costMessage }}</span>
          <mat-icon color="primary" aria-hidden="false">currency_ruble</mat-icon>
        </div>
        <mat-divider></mat-divider>
        <div class="mt-2 mb-2">
          <mat-form-field appearance="fill">
            <mat-label>Желаемый класс автомобиля</mat-label>
            <mat-select [(ngModel)]="vehicleClass">
              <mat-option [value]="1">Эконом</mat-option>
              <mat-option [value]="2">Комфорт</mat-option>
              <mat-option [value]="3">Бизнес</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <button mat-raised-button color="primary"
                [disabled]="isCalculating || isPlacingOrder"
                (click)="makeAnOrder()">Подтвердить и заказать
        </button>
      </div>
    </mat-card>
  </div>
</div>
