<div class="col-xs-12 offset-md-3 col-md-6 mt-5 text-center">
  <h1 class="text-center">Вход</h1>
</div>
<div *ngFor="let errorMessage of responseErrors" class="col-xs-12 offset-md-5 col-md-2 mt-1 text-center alert-danger">
  <p class="text-start p-2">{{ errorMessage }}</p>
</div>
<div class="col-xs-12 offset-md-3 col-md-6 mt-5 text-center">
  <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <mat-form-field
        appearance="fill"
        [matTooltip]="authForm.get('phone')?.invalid && authForm.get('phone')?.touched ? 'Введите корректный телефон.' : ''">
        <mat-label>Номер телефона</mat-label>
        <input matInput
               type="tel"
               id="authPhone"
               name="username"
               autocomplete="username"
               class="form-control"
               formControlName="phone"
               [value]="authForm.get('phone')?.value | phoneInput"
               placeholder="+78005553535">
        <mat-error
          *ngIf="authForm.get('phone')?.invalid && authForm.get('phone')?.touched">
          Введите корректный телефон
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field
        appearance="fill"
        [matTooltip]="authForm.get('password')?.invalid && authForm.get('password')?.touched ? 'Введите корректный пароль.' : ''">
        <mat-label>Пароль</mat-label>
        <input matInput
               type="password"
               id="authPassword"
               name="password"
               autocomplete="password"
               class="form-control"
               formControlName="password">
        <mat-error
          *ngIf="authForm.get('password')?.invalid && authForm.get('password')?.touched">
          Введите корректный пароль
        </mat-error>
      </mat-form-field>
    </div>

    <button class="m-1 ps-4 pe-4"
            mat-raised-button
            type="submit"
            color="primary"
            [disabled]="!authForm.valid || isProcessing">Вход</button>
  </form>
</div>
