.container {
    display: inline-block;
    vertical-align: top;
    padding: 20px;
}

.title {
    display: inline-block;
    margin: 25px;
}

.image {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 1px solid rgba(0,0,0,0.3);
    margin: 20px 0;
}

.section {
    text-align: left;
    margin: 20px;
    padding: 5px;
}

.icon {
    vertical-align: middle;
    padding: 0 2px 5px 2px;
    margin: 0 5px;
    color: #3F51B5;
}

.text {
    vertical-align: middle;
}
